.add_button {
  background-color: rgba(0, 255, 255, 0.515);
  margin-right: 5px;
}
.title {
  background-color: rgba(0, 0, 255, 0.527);
}
.container {
   display: flex;
  gap: 20px;  
  width: 100vw;
  height: 100vh; 
  padding-top: 20px;
  box-sizing: border-box;
}

.boxlist {
  flex: 1;
  background: #e0e0e0;
}
.list {
  padding: 5px;
  background-color: gray;
}